body {
  background-color: whitesmoke !important;
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.output,
.message {
  text-align: center;
  font-size: 2em;
}
.gameOptions {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 0.8em;
  background-color: #ddd;
}
.boxAnswer {
  font-size: 1.4em;
  padding: 12px;
  text-align: center;
  width: 90px;
  background-color: #ddd;
  border: 1px solid #ccc;
  height: 65px;
}
.boxSign {
  display: inline-block;
  padding: 10px;
  font-size: 2em;
}
.box {
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
  width: 50px;
  line-height: 55px;
  background-color: #000;
  border: 1px solid #ccc;
  display: inline-block;
  color: white;
  border-radius: 10px;
}
button {
  text-align: center;
  margin: 20px auto !important;
  display: block !important;
  padding: 10px !important;
  // background-color: red;
  border-radius: 10px !important;
  font-size: 1.5em !important;
  // color: white;
}
